---
layout: base.njk
title: Le Bureau du Vigneron
description: Le média de référence de la filière viti-vini-SPI. Articles fond, podcasts terrain, catalogue de partenaires bienveillants. Vu depuis le bureau du vigneron.
---

{% include "components/hero.njk" %}
{% include "components/articles-une.njk" %}
{% include "components/podcast-teaser.njk" %}
{% include "components/voix-filiere.njk" %}
{% include "components/manifeste.njk" %}
{% include "components/charte-bloc.njk" %}
{% include "components/compteurs-honnetes.njk" %}
{% include "components/waitlist.njk" %}
